<div class="row">
  <div class="col-auto">
    <h3>Edit Blog post:</h3>
  </div>
</div>

    <form class="form edit-blog-form" id="edit-blog-form">
      <div class="form-group">
        <label for="blog-name">Title:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" data-id="{{post.id}}" value="{{post.title}}"/>
      </div>
      <p>Blog post by: {{user.userName}} on {{format_date post.createdAt}}</p>
      <div class="form-group">
        <label for="blog-desc">Content:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc">{{post.content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>

  <script src="/js/editPost.js"></script>